.container
  %h1 Welcome to Spreadsheet.com!
  .error_alert
    - if flash[:errors_login]
      = render :partial => 'shared/login_signup_errors', :locals => { :errors => flash[:errors_login] }
  .login
    = render :partial => 'shared/login'
  %br
  .error_alert
    - if flash[:errors_sign]
      = render :partial => 'shared/login_signup_errors', :locals => { :errors => flash[:errors_sign] }
  .sign_up
    = render :partial => 'shared/signup', :locals => { :user => @user }
