.container.main-container
  %h1 Welcome to Financial Overview!
  .error_alert
    - if flash[:errors_login]
      = render 'shared/login_signup_errors', :errors => flash[:errors_login]
  = render 'shared/login'
  .error_alert
    - if flash[:errors_sign]
      = render 'shared/login_signup_errors', :errors => flash[:errors_sign]
