* {
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
}

.container {
	background: #eee;
	border-radius: 10px;
	margin: 150px 80px;
	padding: 5px 30px 30px 30px;
}

.error_alert{
	color: red;
	list-style: none;
}