.header {
  font-family: $default-font-family;
  height: 100px;
  width: 100%;
  background: #ccc;
  margin-bottom: 20px;

  #not_logged_in {
    margin-left: 100px;
    padding-top: 10px;
  }

  ul, li {
    list-style: none;
    text-decoration: none;
    color: blue;
    text-decoration: none;
  }

  a {
    list-style: none;
    text-decoration: none;
    color: blue;
    text-decoration: none;
    &:hover {
      color: black;
      font-weight: bold;
    }
  }
}

.logout {
  form {
    margin-right: 100px;
    float: right;
    display: inline;
  }
  a {
    text-decoration: none;
  }
}
