.header {
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  position: absolute;
	top: 0;
	left: 0;
  height: 90px;
	width: 100%;
	background: #ccc;
  box-shadow: 2px 10px 30px #666;
  border-bottom: 2px solid #999;
}

.header #not_logged_in{
  margin-left: 100px;
  padding-top: 30px;
}

.header ul, .header li, .header a{
  list-style: none;
  text-decoration: none;
  color: blue;
  text-decoration: none;
}

.header a:hover{
  color: black;
  font-weight: bold;
}

.logout form {
	margin-right: 100px;
	float: right;
	display: inline;
  
}

.logout a {
  text-decoration: none;
}

#not_logged_in {
 font-family: "Courier New", Courier, "Lucida Sans Typewriter", "Lucida Typewriter", monospace;
 font-size: 18px;
}