.header {
  font-family: $default-font-family;
  background: #ccc;
  margin-bottom: 20px;
  padding: 5px 0;
  border-radius: 0 0 10px 10px;

  ul, li {
    list-style: none;
    text-decoration: none;
    color: blue;
    text-decoration: none;
  }

  a {
    list-style: none;
    text-decoration: none;
    text-decoration: none;
    &:hover {
      color: black;
    }
  }
}
